.title {
  display: flex;
  background-color: #036464;
  gap: 20px;
  flex-flow: row;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: clamp(300px, 90vw, 600px);
}